.font-size-small {
    font-size: 14px
}

.font-size-medium {
    font-size: 18px
}

.font-size-big {
    font-size: 40px
}

.font-weight-light {
    font-weight: 300px;
} 

.font-weight-normal {
    font-weight: 400px;
}

.font-weight-bold {
    font-weight: bold;
}

.DataGrid {
    background: #FFFFFF;
    padding: 88px 147px 0px 147px;
    overflow-y: auto;
    height: 100vh;
}

.DataGrid::-webkit-scrollbar {
    display: none;
}

.ScrollDownVector {
    position: absolute;
    bottom: 0px;
    left: 50%;
    background: url(Vector.png);
    width: 30px;
    height: 15px;
}

